#version=RHEL8
# https://access.redhat.com/labs/kickstartconfig/
# System authorisation information
auth --useshadow --passalgo=sha512
# Use network installation
url --url="ftp://{{ pxe_server_ip }}/pub"
repo --name="AppStream" --baseurl=ftp://{{ pxe_server_ip }}/pub/AppStream
repo --name="baseos" --baseurl=ftp://{{ pxe_server_ip }}/pub/BaseOS

# Use graphical install
graphical
# Keyboard layouts
keyboard us
# System language
lang en_US.UTF-8
# SELinux configuration
selinux --enforcing
# Firewall configuration
firewall --enabled --ssh
firstboot --disable

# Network information
network --device {{ hostvars[item].NIC }} --bootproto static --ip {{ hostvars[item].IP }} --netmask {{ netmask }} --gateway {{ dhcp_gw }} --nameserver {{ dns_ip }} --hostname {{ hostvars[item].inventory_hostname }}

# Reboot after installation
reboot

# Root password
rootpw --iscrypted {{ encrypted_pw }}
user --groups=wheel --name={{ user_name }} --password={{ encrypted_pw }} --iscrypted --gecos="{{ user_gecos }}"

# System timezone
timezone America/Chicago --isUtc
# System bootloader configuration
ignoredisk --only-use={{ BOOT }}
bootloader --location=mbr --timeout=1 --boot-drive={{ BOOT }}
zerombr
clearpart --all --initlabel

# Disk partitioning information
autopart --type=lvm --nohome

%packages
@^minimal-environment

%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%post
/bin/mkdir /home/{{ user_name }}/.ssh
/bin/chmod 700 /home/{{ user_name }}/.ssh
/bin/echo {{ SSH_KEY }} > /home/{{ user_name }}/.ssh/authorized_keys
/bin/chown -R {{ user_uid }}:{{ user_uid }} /home/{{ user_name }}/.ssh
/bin/chmod 0400 /home/{{ user_name }}/.ssh/*
/bin/echo "{{ user_name }} ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/{{ user_name }} ; \
%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
